/.idea/.idea.SubscriberWebhook/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/.idea.SubscriberWebhook/.idea/shelf/Uncommitted_changes_before_Update_at_20_07_2023_1_31_pm_[Changes]/shelved.patch
/.idea/.idea.SubscriberWebhook/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/.idea.SubscriberWebhook/.idea/shelf/Uncommitted_changes_before_Update_at_20_07_2023_1_31_pm__Changes_.xml
/bin/
/.idea/
/obj/
